.section-about {
  height:initial;
  text-align: center;
  .block-wrapper{
    padding:10px;
    background-color:rgba(194, 204, 204, 0.6);
    width: 80vw;
    margin: 15px 20px auto auto;
    .block-title{
        margin: 20px 0 20px 0;
    }
  }
  .image-who-we-are{
      margin: 0 auto;
      height:300px;
      width:250px;
      background: url(../images/chicken2.jpg) no-repeat center center;
      background-size:cover;
  }
  .image-what-we-do{
      margin: 0 auto;
      height:300px;
      width:250px;
      background: url(../images/nest-and-eggs.jpg) no-repeat center center;
      background-size:cover;
  }
  .image-how-we-do{
      margin: 0 auto;
      height:300px;
      width:250px;
      background: url(../images/chicken3.jpg) no-repeat center center;
      background-size:cover;
  }
}

@media screen and (min-device-width: 700px) {
    .section-about {
          .section-title{
            margin: 20px 0 60px 0;
          }
         .block-wrapper{
            margin: 15px;
            width: 40vw;
            vertical-align: top;
            display: inline-block;
         }
    }
}

