.section-values {
  padding: 52px 16px;
  text-align: center;
  .section-title {
    margin: 0;
    color: #333;
    font-size: 22px;
  }
  .text-wrapper {
    color: #666;
    display: inline-block;
  }
  .content-wrapper {
    padding: 10px;
    line-height: 3;
    text-align: center;
    background-color: rgba(194, 204, 204, 0.6);
    .image-values {
      vertical-align: middle;
      height: 310px;
      width: 350px;
      background: url(../images/people1.jpg) no-repeat center center;
      background-size: cover;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 600px) {
  .section-values {
    padding: 72px 40px;
    .section-title {
      font-size: 32px;
      margin: 0 0 10px 0;
    }
    .text-wrapper {
      font-size: 18px;
      width: 600px;
    }
    .content-wrapper {
      padding: 75px;
    }
  }
}

