.section-values {
  text-align: center;
  .content-wrapper {
    padding:10px;
    line-height: 3;
    text-align: center;
    background-color: rgba(194, 204, 204, 0.6);
    .text-wrapper {
      display: inline-block;
      width: 50vw;
      vertical-align: middle;
    }
    .image-values {
      vertical-align: middle;
      height: 310px;
      width: 350px;
      background: url(../images/people1.jpg) no-repeat center center;
      background-size: cover;
      display: inline-block;
    }
  }
}
@media screen and (min-device-width: 700px) {
  .section-values {
    .section-title{
      margin: 60px 0 60px 0;
    }
    .content-wrapper {
      padding:75px;
    }
  }
}

