.section-home {
  background-size: cover;
  background: url(../images/nest-and-eggs.jpg) no-repeat center ;
  .home-title {

  }
  .learn-more-button{
    display: none;
  } 
  .get-started-button{
    box-shadow: inset 0 -3px 3px -3px #666;
    display: inline-block;
    background-color: #00ace9;
    cursor: pointer;
    padding: 13px 28px;
    border-radius: 3px;
    width: 184px;
    text-align: center;
    a{
      text-decoration: none;
      color: white
    }
  }
}

@media screen and (min-width:600px) {
  .section-home {
    .learn-more-button{
      box-shadow: inset 0 -3px 3px -3px #666;
      display: inline-block;
      background-color: #00ace9;
      cursor: pointer;
      padding: 13px 28px;
      border-radius: 3px;
      width: 184px;
      text-align: center;
      margin-right:48px;
      a{
        text-decoration: none;
        color: white
      }
    }
  }
}
