@import 'normalize';
@import 'header';
@import 'section-home';
@import 'section-about';
@import 'section-values';
@import 'fonts';

body {
  font-family:"proxima-nova","Helvetica Neue", Helvetica, Arial,sans-serif;
}
section{
  width:100vw;
  height:100vh;
  overflow: hidden;
  text-align: center;
}
@media screen and (min-device-width: 700px) {
  section{
    padding: 0 20px 0 20px;
  }
}

